/* josefin-sans-regular - latin */
@font-face {
  font-display: swap;
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 100 700;
  src: url("../fonts/JosefinSans-VariableFont_wght.ttf") format("truetype");
}
