:root {
  --primary-color: oklch(62.3% 0.214 259.815);
  --primary-color-hover: oklch(54.6% 0.245 262.881);
  --danger-color: oklch(63.7% 0.237 25.331);
  --danger-color-hover: oklch(57.7% 0.245 27.325);
  --default-color: oklch(98.4% 0.003 247.858);
  --default-color-hover: oklch(96.8% 0.007 247.896);
  --default-border: oklch(92.8% 0.006 264.531);
  --default-border-hover: oklch(87.2% 0.01 258.338);
  --dark-blue: oklch(48.8% 0.243 264.376);
  --paragraphColor: oklch(44.6% 0.03 256.802);
  --dark-grey: oklch(27.8% 0.033 256.848);
}
