@use "./fonts";
@use "./normalize";
@use "./variables" as *;
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Josefin Sans";
  font-weight: 500;
  // margin: 0;
}

body {
  background-color: #fff;
  font-size: 16px;
  font-family: system-ui;
}
body,
p,
span {
  color: --paragraphColor;
}
main {
  padding: 80px 0;
}

.sr-only {
  position: absolute !important;
  height: 1px !important;
  width: 1px !important;
  margin: -1px !important;
  padding: 0 !important;
  overflow: hidden !important;
  border: none !important;
}
.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}
.section-title {
  font-size: 40px;
}
.page-title {
  font-size: 50px;
  color: --dark-grey;
}
.form-group {
  margin-bottom: 20px;
}
a.primary {
  color: --primary-color;
}
a.primary:hover {
  color: --dark-grey;
}
.link {
  text-decoration: none;
}
.link.text-primary:hover {
  color: --paragraphColor;
}

.text-primary {
  color: --primary-color;
}
